body {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  .font-btn();
  height: 58px;
  background-color: @main-bg;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "ptsansbold";
  src: local("PT Sans"), local("PTSans"), url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
  font-family: "ptsans";
  src: local("PT Sans"), local("PTSans"), url("../fonts/ptsans.woff2") format("woff2");
}
