.advantages {
  background-color: @additional-bg;
  padding-top: 35px;
  margin-bottom: 35px;

  &__title {
    .font-title();
    margin-top: 0px;
  }

  &__description,
  &__item span {
    .font-text();
  }

  &__item {
    .content-padding();
    text-align: center;
  }
}
