.book {
  .container();
  .content-padding();
  text-align: center;

  &__title {
    .font-title();
    font-size: 21px;
    margin-bottom: 30px;
  }

  &__description {
    .font-text();
    margin-bottom: 40px;
  }

  &__btn {
    .button ();
    margin-bottom: 50px;
  }
}
