.cover {
  &--form {
    .separator();
  }
  &--photo {
    .separator();
  }
  &__title {
    .font-title();
    margin-bottom: 30px;
  }
  &__title--form {
    margin-bottom: 35px;
  }
  &__description {
    .font-text();
  }
  &__description--form {
    margin-bottom: 25px;
  }
  &__description--photo {
    margin-bottom: 35px;
  }
  &__wrap {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }
  &__img-block {
    position: relative;
    z-index: -1;
    width: 320px;
    height: 389px;
    background: url(/img/bg-back-mobile@1x.jpg);
    background-color: #747a7e;
    background-position: -224px -5px;
  }
  &__img-block--photo,
  &__img-block--form {
    height: 158px;
    background-position-y: -230px;
  }
  &__text {
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 85px;
  }
  &__text--photo,
  &__text--form {
    width: 228px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
  }
  &__decoration {}
  &__wrap--photo,
  &__wrap--form {
    .content-padding();
    text-align: center;
  }
}
