  .recommendations {
    .container();
    .content-padding();
    text-align: left;
    padding-top: 13px;
    margin-bottom: 40px;
    &__title {
      .font-title();
      margin-bottom: 15px;
    }
    &__description {
      .font-text();
      margin-bottom: 28px;
      line-height: 21px;
    }
    &__wrap {
      padding-left: 50px;
    }
    &__item {
      position: relative;
    }
    &__item::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
    }
    &__item--home::before {
      background: url("../img/icon-house.svg") no-repeat;
      left: -50px;
      top: -10px;
      background-size: auto 38px;
    }
    &__item--gifts::before {
      background: url("../img/icon-gift.svg") no-repeat;
      left: -45px;
      top: -12px;
      background-size: auto 40px;
    }
    &__item--food::before {
      background: url("../img/icon-burger.svg") no-repeat;
      background-size: auto 36px;
      left: -52px;
      top: -6px;
    }
    @media @tablet-widths {
      .content-padding--desktop();
    }
    &__title {
      @media @tablet-widths {
        .font-title--desktop();
      }
    }
    &__wrap {
      @media @tablet-widths {
        .flex();
        justify-content: space-between;
        .content-padding--desktop();
      }
    }
    &__item {
      @media @tablet-widths {
        .flex();
        flex-wrap: wrap;
        width: 400px;
        justify-content: center;
        padding-top: 160px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    &__item p {
      @media @tablet-widths {
        text-align: center;
      }
    }
    &__item--home::before {
      @media @tablet-widths {
        background-size: 75px 72px;
        left: 90px;
        top: 70px;
        width: 80px;
        height: 80px;
      }
    }
    &__item--gifts {
      @media @tablet-widths {
        order: 2;
      }
    }
    &__item--gifts::before {
      @media @tablet-widths {
        background-size: 64px 75px;
        left: 90px;
        top: 70px;
        width: 80px;
        height: 80px;
      }
    }
    &__item--food {
      @media @tablet-widths {
        order: 1;
      }
    }
    &__item--food::before {
      @media @tablet-widths {
        background-size: 77px 68px;
        left: 90px;
        top: 70px;
        width: 80px;
        height: 80px;
      }
    }
  }
