.review {
  .container();

  &__item {
    border: none;
    .separator();
    padding: 0;
    margin: 0;
  }

  &__inner {
    .flex();
    .content-padding();
    flex-basis: 280px;
  }

  &__inner--contacts {
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__inner--contacts label {
    margin-bottom: 15px;
  }

  &__inner--impression {
    .flex();
    height: 55px;
    align-items: center;
    margin-bottom: 15px;
  }

  &__inner--impression:last-child {
    margin-bottom: 25px;
  }

  &__inner--places {
    .flex();
    height: 60px;
    align-items: center;
    flex-basis: auto;
    margin-bottom: 25px;
  }

  &__inner--personality {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__inner--email {
    margin-bottom: 25px;
  }

  &__input {
    .font-title();
    font-weight: bold;
    text-transform: none;
    flex-grow: 1;
    padding-left: 20px;
  }

  &__input::-webkit-input-placeholder {
    .font-title();
    font-weight: bold;
    text-transform: none;
  }

  &__input--personality {
    width: 192px;
    height: 58px;
    margin-left: 20px;
    box-sizing: border-box;
  }

  &__input--contacts {
    width: 280px;
    position: relative;
    padding-right: 70px;
    height: 58px;
    border: none;
    background: #f2f2f2;
    box-sizing: border-box;
  }

  &__input-radio {
    position: absolute;
    display: none;
  }

  &__input-radio + label::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &__input-radio:hover + label::before {
    background-color: #e5e5e5;
  }

  &__input-radio:active + label::before {
    background-color: #d5d5d5;
  }

  &__input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 15px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #333333;
    z-index: 1;
  }

  &__input-radio:checked:active + label::after {
    background-color: #a4a4a4;
  }

  &__input-checkbox {
    position: absolute;
    display: none;
  }

  &__input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &__input-checkbox:hover + label::before {
    background-color: #e5e5e5;
  }

  &__input-checkbox:active + label::before {
    background-color: #d5d5d5;
  }

  &__input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 19px;
    top: 0;
    left: 20px;
    background: url("../img/icon-tick.svg") no-repeat;
    z-index: 1;
  }

  &__input-checkbox:checked:active + label::after {
    background: url("../img/icon-tick--active.svg") no-repeat;
  }

  &__label-radio,
  &__label-checkbox {
    .font-title();
    font-weight: bold;
    text-transform: none;
    position: relative;
    padding: 0 0 0 70px;
  }

  &__label {
    .font-text();
  }

  &__label--tel::before {
    content: "";
    position: absolute;
    top: 41px;
    left: 242px;
    width: 58px;
    height: 58px;
    background: url("../img/icon-phone.svg") #e6e6e6 no-repeat;
    background-position: center;
    z-index: 100;
  }

  &__label--email::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 242px;
    width: 58px;
    height: 58px;
    background: url("../img/icon-mail.svg") #e6e6e6 no-repeat;
    background-position: center;
    z-index: 100;
  }

  &__btn {
    .button ();
    margin-bottom: 40px;
  }

  &__comment {
    margin-bottom: 50px;
    border: none;
  }

  &__comment textarea {
    width: 100%;
    .font-title();
    font-weight: bold;
    text-transform: none;
    .content-padding();
    box-sizing: border-box;
  }

  &__title {
    width: 100%;
    .font-title();
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
}
