.social-btn {
  .container();
  .flex();
  justify-content: center;
  margin-bottom: 40px;

  &__link {
    .flex();
    width: 50px;
    height: 50px;
    background-color: @main-bg;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }

  &__link svg {
    fill: @white-color;
  }

  @media @tablet-widths {
    min-width: 256px;
    margin-bottom: 0;
  }

  &__link:last-child {
    @media @tablet-widths {
      margin-right: 0;
    }
  }
}
